.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform-style: preserve-3d;
    -ms-touch-action: pan-Y;
        touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    white-space: normal;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      -webkit-user-select: none;
              user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .glide--rtl {
    direction: rtl; }

.wp-block-mmblocks-carousel {
  padding: 0 100px;
  margin: 40px 0; }
  .wp-block-mmblocks-carousel .glide {
    position: relative;
    padding-top: 25%;
    width: 100%; }
    .wp-block-mmblocks-carousel .glide .glide__track {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .wp-block-mmblocks-carousel .glide .glide__track .glide__slides {
        -ms-flex-align: center;
            align-items: center;
        width: 100%;
        height: 100%;
        margin: 0; }
        .wp-block-mmblocks-carousel .glide .glide__track .glide__slides .glide__slide {
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          height: 100%;
          position: relative; }
          .wp-block-mmblocks-carousel .glide .glide__track .glide__slides .glide__slide img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 97%;
            height: 97%;
            -o-object-fit: contain;
               object-fit: contain; }
    .wp-block-mmblocks-carousel .glide .glide__arrows {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      -ms-flex-pack: justify;
          justify-content: space-between;
      z-index: 10;
      display: -ms-flexbox;
      display: flex;
      width: calc(100% + 80px); }
      .wp-block-mmblocks-carousel .glide .glide__arrows .glide__arrow {
        height: 40px;
        width: 40px;
        border: none;
        font-size: 0;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        letter-spacing: 0;
        background: none; }
        .wp-block-mmblocks-carousel .glide .glide__arrows .glide__arrow::after {
          display: block;
          content: '';
          height: 13px;
          width: 13px;
          border-top: 4px solid;
          border-left: 4px solid;
          border-color: rgba(0, 0, 0, 0.4);
          transform-origin: 50% 50%;
          transform: translateX(25%) rotate(-45deg);
          margin: 0; }
        .wp-block-mmblocks-carousel .glide .glide__arrows .glide__arrow--right::after {
          transform: translateX(-25%) rotate(135deg); }

/*# sourceMappingURL=blocks.style.css.map*/